@import url('https://fonts.googleapis.com/css2? family= Public+Sans:wght@300 & display=swap');

body {
  max-width: 100vw;
  overflow-x: hidden;
}
*{
  font-family: 'Public Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.095);
  color: rgba(255, 0, 0, 0.499);
  /* transform: translateX(20%); */
}

.animate1{
  transition: 1s ease-in-out;
}
